.top {
  background: #939878;
  padding-top: 7px;
  padding-bottom: 7px;
  .d40 {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    position: relative;
    .p1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 150% */
    }
    .d50 {
      position: absolute;
      bottom: -8px;
      right: 0;
    }
  }
}
.menu {
  display: none;
}

.menu-btn {
  background: transparent;
}
.navbar-shrink {
  padding-top: 28px;
  padding-bottom: 28px;
  transition: 0.4s;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    .nav-allitems {
      display: flex;
      align-items: center;
      column-gap: 16px;
      .nav-items {
        display: flex;
        align-items: center;
        column-gap: 16px;
        .nav-links {
          display: flex;
          align-items: center;
          column-gap: 32px;
          .nav-li {
            color: #2a2c1f;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            transition: 0.5s;
          }
          .nav-li:hover {
            color: #7a7a7a;
          }
          .select1 {
            background: transparent;
            transition: 0.5s;
            border: transparent;
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            option {
              border: none;
              color: #222;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
          }
          .select1:hover {
            color: #7a7a7a;
          }
        }
        .nav-btns {
          display: flex;
          align-items: center;
          column-gap: 16px;
          .search-btn {
            padding: 9px 16px;
            display: flex;
            align-items: center;
            column-gap: 8px;
            .input1 {
              background: transparent;
              border: none;
              width: 60px;
              height: 40px;
              color: #2a2c1f;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
            }
          }
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .nav-items {
    display: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 105px;
    z-index: 9;
    left: -100%;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    transition: all 0.6s;
    .nav-links {
      flex-direction: column;
      row-gap: 10px;
    }
    .nav-btns {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .open {
    left: 0;
  }

  .menu {
    display: block;
  }
  .dark .nav-items {
    background-color: rgb(69, 69, 69);
  }
}
// @media (max-width: 435px) {

// }
